vendor/
node_modules/
.git/
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.env
Dockerfile
docker-compose.yml
*.md
tests/
phpunit.xml
.editorconfig
.gitattributes
.gitignore
